body{
    margin: 0;
    padding: 0;
    
}
.underline{
    text-decoration: underline;
    font-weight: 700;
}
.font{
    font-weight: normal;
}
.felx{
    display: flex;
    background-color: rgba(25, 47, 140, .5);
}
.half-width{
    width: 50%;
    text-align: center;
    margin: 50px;
  
}
.half-width img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.justify{
    text-align: justify;
    display: block;

}
p{
    font-size: 20px;
}
.left{
    display: block;
    text-align: left;
}
.margin{
    margin-top: 170px;
}